section.pages {
    flex-direction: column;
    width: 100vw;
    min-height: 1040px;
    overflow: hidden;
}

article.page {
    background-size: cover;
    background-position: center;
    flex: 1;
    position: relative;
    transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
}

div.contain {
    position: absolute;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contain>* {
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
}


/* PARTIE IMAGE */

.exemples {
    position: absolute;
    align-items: flex-end;
}

.exemples>* {
    transition: transform 0.5s;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

figure.fromLeft {
    transform: translateX(-100%);
}

figure.fromBottom {
    transform: translateY(200%);
}

figure.fromRight {
    transform: translateX(200%);
}

figure img {
    width: 80%;
    opacity: 0.8;
}

figcaption {
    opacity: 0;
    transition: opacity 1s;
}


/* BACKGROUND IMG */

.page1 {
    background-image: url(image/yakitori1.jpg);
}

.page2 {
    background-image: url(image/rollsNigiri1.jpg);
}

.page3 {
    background-image: url(image/temaki-de-salmao.jpg);
}

.page4 {
    background-image: url(image/chirasi2.jpg);
}

.page5 {
    background-image: url(image/cantonais.jpg);
}

.page6 {
    background-image: url(image/padTai.jpg);
}

.page7 {
    background-image: url(image/plateaux2.jpg);
}

.page8 {
    background-image: url(image/perles-de-coco.jpg);
}


/* LIEN VOIRE CARTE */

div.lienCarte {
    transform: scale(0);
    align-items: flex-end;
    margin-bottom: 10%;
}


/* OPEN */

.page.open {
    flex: 3;
}

.open figcaption {
    opacity: 1;
    transition: all 1s 1s;
}

.page.active h3 {
    margin-bottom: 10%;
}


/* OPEN ACTIVE */

.page.active .fromLeft,
.page.active .fromRight {
    transform: translateX(0);
    transition: transform 0.3s 0.3s;
}

.page.active .fromBottom {
    transform: translateY(0);
    transition: transform 0.3s 0.3s;
}

.page.active .lienCarte {
    transform: scale(1);
    transition: transform 1s 1s;
}