section.pages {
    background-image: linear-gradient(445deg, #2d3436 20%, #000000 74%);
    width: 100vw;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
    opacity: 0.5;
    transition: min-height .2s, opacity .3s;
}

section.pages.open {
    min-height: 1240px;
    opacity: 1;
    margin-top: 0;
}

article.page {
    background-size: cover;
    background-position: center;
    flex: 1;
    position: relative;
    transition: flex .4s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
}

div.contain {
    position: absolute;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contain>* {
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
}


/* PARTIE IMAGE */

.page h3 {
    position: absolute;
    font-family: var(--modern-font);
    font-size: 1.5rem;
    opacity: 1;
    transition: opacity 0.3s linear;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.exemples {
    display: none;
    overflow: hidden;
}

.exemples>* {
    transition: transform 0.5s;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

figure.fromLeft {
    transform: translateX(-200%);
}

figure.fromBottom {
    transform: translateY(250%);
}

figure.fromRight {
    transform: translateX(200%);
}

figure img {
    width: 30%;
}

.active figure img {
    width: 80%;
    opacity: 0.8;
}

.active .widthMin {
    width: 65%;
}

.active .minWidth {
    width: 55%;
}

figcaption {
    opacity: 0;
    transition: opacity .3s;
    margin: 5%;
}

.widthMini {
    width: 55%;
}

.minWidth {
    width: 45%;
}


/* BACKGROUND IMG */

.page1 {
    background-image: url(image/yakitori1.jpg);
}

.page2 {
    background-image: url(image/rollsNigiri1.jpg);
}

.page3 {
    background-image: url(image/temaki-de-salmao.jpg);
}

.page4 {
    background-image: url(image/chirasi2.jpg);
}

.page5 {
    background-image: url(image/cantonais.jpg);
}

.page6 {
    background-image: url(image/padTai.jpg);
}

.page7 {
    background-image: url(image/plateaux2.jpg);
}

.page8 {
    background-image: url(image/perles-de-coco.jpg);
}

.page9 {
    background-image: url(image/bonap.jpg);
}


/* LIEN VOIRE CARTE */

div.lienCarte {
    position: absolute;
    bottom: 5%;
    overflow: hidden;
}

div.lienCarte {
    width: 0%;
    transition: width 0.3s linear;
}

div.lienCarte {
    white-space: nowrap;
}


/* OPEN */

.page.open {
    flex: 3;
}

article.open .exemples {
    position: absolute;
    display: flex;
}

.open figcaption {
    opacity: 1;
    transition: all .3s 0.7s;
}

.page.active h3 {
    opacity: 0;
}


/* OPEN ACTIVE */

.page.active .fromLeft,
.page.active .fromRight {
    transform: translateX(0);
    transition: all .3s .1s;
}

.page.active .fromBottom {
    transform: translateY(0);
    transition: all .3s .1s;
}

.page.active .lienCarte {
    padding: 2% 2%;
}

.page.active div.lienCarte {
    width: 35%;
}

.page.page.active .lienCarte a {
    font-family: var(--modern-font);
    width: 100%;
    padding: 2%;
    color: #ffff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 50px;
    background: linear-gradient(70deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
}