body {
    background-size: cover;
    background-position: center;
}

section.Page_Menu {
    flex-direction: column;
    /* min-height: 100vh;*/
    background-color: #2d3436;
    background-image: linear-gradient(400deg, #2d3436 20%, #000000 74%);
}

header.selection {
    min-height: 20vh;
    position: absolute;
    width: 100vw;
}


/*----------------------------------------------- BACKGROUND HEADER -----------------------------------------------*/

.tabs li {
    background-size: cover;
    background-position: center;
}

#miseEnBouche {
    background-image: url(image/tempura1.jpg);
}

#yaki {
    background-image: url(image/yakitori1.jpg);
}

#rollsBack {
    background-image: url(image/rolls1.jpg);
}

#temakiBack {
    background-image: url(image/temaki-de-salmao.jpg);
}

#gunkanBack {
    background-image: url(image/gunkan.jpg);
}

#chirasiBack {
    background-image: url(image/chirashi-saumon.jpeg);
}

#sashimiBack {
    background-image: url(image/sashimi-thon-saumon-2.jpg);
}

#tartareBack {
    background-image: url(image/Tartare-thon.jpg);
}

#accompBack {
    background-image: url(image/saladeAsiat.jpg);
}

#platsBack {
    background-image: url(image/padTai.jpg);
}

#plateauBack {
    background-image: url(image/plateaux2.jpg);
}

#chefBack {
    background-image: url(image/sushi-chef.jpg);
}

#dessertBack {
    background-image: url(image/dessushis.jpg);
}

#nigiriBack {
    background-image: url(image/nigiri4.jpg);
}

.tabs li:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) -13%, rgba(28, 37, 44, .53) 45%, black 100%), linear-gradient(70deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
}

.tabs {
    width: 100%;
}

.tabs h3 {
    font-family: var(--modern-font);
    font-size: 2rem;
    z-index: 4;
    border-top: 1px solid rgb(240, 63, 115);
    border-bottom: 1px solid rgb(240, 63, 115);
}

.tab-content,
.tabs>li {
    display: none;
}


/*----------------------------------------------- class ACTIVE -----------------------------------------------*/

.tab-content.active,
.tabs li.active {
    display: flex;
    height: 100%;
    opacity: 0;
}

.tab-content.active.in,
.tabs li.active.in {
    opacity: 1;
    transition: all 0.3s;
}

.tabs li.active {
    align-items: center;
    text-align: center;
    position: relative;
}

.tabs li.active a {
    position: absolute;
    z-index: 4;
    width: 20%;
}

.tabs li.active a img {
    width: 40%;
}

.tabs li.active a.fleche_D {
    top: 40%;
    right: 0;
}

.tabs li.active a.fleche_G {
    top: 40%;
    left: 0%;
}

.tab-content.active {
    flex-direction: column;
    min-height: 80vh;
    padding-top: 20vh;
}


/* ----------------------------------------------- ITEM -----------------------------------------------*/

.item {
    position: relative;
    min-height: 20vh;
    flex-direction: column;
    justify-content: center;
    transform: scale(0.8);
}

.itemImg {
    position: absolute;
    align-items: center;
    width: 40%;
    height: 100%;
    left: 5%;
    z-index: 5;
}

.itemImg img {
    width: 100%;
}

#nigiri .itemImg,
#meb .itemImg,
#plats .itemImg {
    width: 35%;
}

.plateaux,
.riz,
#chirashi .itemImg,
#tartare .itemImg {
    width: 30%;
}

.chefS,
#yakitori .itemImg,
#gunkan .itemImg {
    width: 25%;
}

.typePrice {
    width: 100%;
    padding: 1%;
    border-radius: 5px;
    background: rgba(240, 63, 115, 0.5);
    box-shadow: 0px 0px 0px 0px #fff;
    justify-content: flex-end;
    margin-bottom: 5%;
    transform: translateX(-200%);
    transition: transform .3s, box-shadow .3s .3s;
}

.active.in .typePrice {
    box-shadow: 0px 0px 10px 2px #fff;
    transform: translate(0);
}

.itemType {
    width: 50%;
}

.prix {
    justify-content: space-between;
    margin-left: 50%;
    padding-right: 2%;
    text-align: right;
    opacity: 0;
    transition: opacity 1s;
}

.active.in .prix {
    opacity: 1;
}


/*----------------------------------------------- PLUS ET PLUS OPEN CONTENUE (plateaux) -----------------------------------------------*/

.plateauContent {
    background: linear-gradient(45deg, #252323 50%, #302c2c 50%);
    bottom: 0;
    height: auto;
    left: 35%;
    width: 35%;
    z-index: 10;
    box-shadow: 0 0 20px #fff;
    border-radius: 25px;
    transition: all .2s;
}

.plateauContent>* {
    text-align: center;
    overflow: hidden;
    color: #444;
}

.plateauContent,
.plus {
    position: absolute;
}

.plus {
    opacity: 0;
    width: 0;
    transition: all 0.1s;
}

.plateauContent p {
    padding: 2%;
    color: #fff;
    visibility: visible;
    position: relative;
}

.plus li {
    padding: 1%;
    white-space: nowrap;
    color: #444;
    opacity: 0;
}


/* Open */

.open.plateauContent {
    width: 100%;
    height: auto;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: inset 1px 2px 5px 1px #444;
}

.open .plus {
    width: 100%;
    left: 0;
    opacity: 1;
    position: relative;
    padding: 2%;
    transition: all 0.3s;
}

.open.plateauContent p {
    visibility: hidden;
    padding: 0;
    height: 0;
}

.open .plus li {
    opacity: 1;
    transition: all 1s;
}


/*----------------------------------------------- SUPLEMENT (Pour temaki, rolls, nigiri, chirashi, tartare) -----------------------------------------------*/

.supplements {
    left: 20%;
    position: static;
    width: 60%;
    padding: 2%;
    border-radius: 20px;
    text-align: center;
    z-index: 3330;
    transition: all linear .2s;
}

.supplements p,
.supplements span {
    color: rgb(240, 63, 115);
}

.supplements.open p {
    color: #fff;
}

.supStyle {
    display: none;
}

.supplements.open {
    box-shadow: 0 0 20px #fff;
    max-height: 80vh;
    overflow: scroll;
}

.open .supStyle {
    display: block;
    line-height: 1.5rem;
    padding: 2% 1%;
}

.open .supStyle li {
    padding-top: 2%;
}

.open .supStyle li.tiret {
    line-height: 0.5rem;
    color: rgb(240, 63, 115);
}


/* SUPLEMENT ROLLS*/


/* SECTION ROLLS */

.rollstype li {
    flex: 1;
    min-height: 10vh;
    margin: 5% 1%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: relative;
}

.rollstype li>span {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    z-index: 44;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    opacity: 0;
    transition: all .3s;
}

.rollstype li.index>span {
    transform: translateY(-350%);
    border-bottom: 1px solid rgb(240, 63, 115);
    opacity: 1;
}

.rollstype li:after {
    content: '';
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--overlayBlackGradient);
    opacity: 1;
    transition: all .3s;
}

.rollstype li.index:after {
    opacity: 0;
}

.rollstype> :nth-child(1) {
    background-image: url(image/maki.png);
}

.rollstype> :nth-child(2) {
    background-image: url(image/spring-saumon.png);
}

.rollstype> :nth-child(3) {
    background-image: url(image/california.png);
}

.rollstype .liste-rolls {
    position: relative;
    padding-top: 10%;
    line-height: 1.5rem;
}

.rolls-content {
    display: none;
}

.rolls-content.index {
    display: flex;
    opacity: 1;
    padding: 10% 0;
}

.rolls-content ul {
    width: 80%;
}

.rolls-content ul li {
    padding: 2%;
    margin: 10% 0;
    position: relative;
    z-index: 5;
}

.rolls-content ul li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 70%;
    border-bottom: 1px solid rgba(240, 63, 115, 0.5);
}

.rolls-content ul li span {
    position: absolute;
    font-size: 0.7rem;
    text-align: center;
    top: -10%;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    background: #252828;
    border: 2px solid rgba(240, 63, 115, 0.5);
    box-shadow: 0px 0px 0px 0px #fff;
    transform: rotate(0deg) scale(0.6);
    transition: transform .3s, box-shadow .3s .1s;
}

.rolls-content.index.in span {
    box-shadow: 0px 0px 6px 1px #fff;
    transform: rotate(10deg) scale(0.9);
}


/* -------------------------------------------MADIA QUERIES -----------------------*/

@media (min-width: 800px) {
    section.Page_Menu {
        background-image: var(--gradientClar);
    }
    header.selection {
        height: 30vh;
    }
    .tab-content.active {
        position: relative;
        width: 80%;
        margin: 0 auto;
        padding-top: 30vh;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    /*header*/
    .tabs {
        width: 80%;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .tabs li.active {
        height: 50%;
        width: 100%;
    }
    .tabs li.active a {
        width: 10%;
    }
    /*------------------------------------------ ITEM */
    .item {
        width: 240px;
        height: 360px;
        background: #1c1e22;
        box-shadow: inset 14px 14px 18px #101114, inset -14px -14px 18px #282b30, 5px 9px 13px #101114, -8px -6px 15px #333a40;
        justify-content: space-between;
        margin: 0 5% 5% 5%;
        transform: scale(1);
    }
    .itemImg {
        left: 0;
        margin: 0 auto;
        position: relative;
    }
    #nigiri .itemImg,
    #meb .itemImg,
    #plats .itemImg,
    #temaki .itemImg {
        width: 70%;
        height: 60%;
    }
    #plateaux .itemImg,
    #sashimi .itemImg,
    #accompagnements .itemImg,
    #chirashi .itemImg,
    #tartare .itemImg {
        width: 60%;
    }
    .chefS,
    #yakitori .itemImg,
    #gunkan .itemImg {
        position: relative;
        width: 40%;
        height: 60%;
        margin: 0 auto;
    }
    .typePrice {
        justify-content: start;
        padding: 5%;
        box-shadow: inset 14px 14px 18px rgba(16, 17, 20, .4), inset -14px -14px 18px rgba(40, 43, 48, .4), 4px 5px 8px rgba(16, 17, 20, .5), -5px -5px 7px rgba(51, 58, 64, .5);
        background: rgba(240, 63, 115, 0.5);
        width: 90%;
        margin: 0 auto;
        transform: translateX(0);
    }
    .active.in .typePrice {
        box-shadow: inset 14px 14px 18px rgba(16, 17, 20, .4), inset -14px -14px 18px rgba(40, 43, 48, .4), 4px 5px 8px rgba(16, 17, 20, .5), -5px -5px 7px rgba(51, 58, 64, .5);
    }
    .typePrice .itemType {
        width: 100%;
        font-size: 1.2rem;
    }
    .prix {
        margin: 10%;
    }
    /*------------------------------------------ SUPPLEMENTS*/
    .supplements {
        top: 30vh;
        left: 0;
        position: absolute;
        width: 300px;
    }
    .supplements,
    .supplements.open {
        max-height: 200vh;
    }
    .supplements.bouton {
        background: linear-gradient(145deg, #22272b, #1d2024);
        box-shadow: inset 2px 2px 3px #111214, inset -4px -5px 6px #2b2c32, 4px 2px 6px #101114, -5px -4px 11px #333a40;
    }
    .supStyle,
    .open .supStyle {
        display: block;
        line-height: 2rem;
        padding: 2% 1%;
    }
    .supplements p span {
        display: none;
    }
    .supplements p,
    .supplements.open p {
        color: #fff;
        font-size: 2rem;
        font-family: var(--modern-font);
        padding: 5%;
        border-bottom: 1px solid rgb(240, 63, 115);
    }
    .supStyle li,
    .open .supStyle li {
        margin: 15% 0;
        border-radius: 5px;
        padding-top: 0%;
        background: linear-gradient(145deg, #22272b, #1d2024);
        box-shadow: inset 2px 2px 3px #111214, inset -4px -5px 6px #2b2c32, 4px 2px 6px #101114, -5px -4px 11px #333a40;
        font-family: 'Poiret One';
        font-size: 1.5rem;
    }
    .supStyle li.supPrice {
        box-shadow: none;
        background: none;
        border-radius: 0px;
        border-bottom: 1px solid #fff;
    }
    .supStyle li.supPrice span {
        display: inline;
        font-family: 'Poiret One';
        font-size: 1.5rem;
    }
    .supStyle li span {
        display: none;
    }
    /* Plateaux contenu */
    .plateauContent {
        padding: 2%;
        bottom: 5%;
        left: 10%;
        width: 50%;
        border-radius: 5px;
        background: linear-gradient(145deg, #22272b, #1d2024);
        box-shadow: 3px 4px 4px #0d0e10, -4px -2px 6px 0px #333a40;
    }
    .plateauContent:hover {
        cursor: pointer;
    }
    .plateauContent:active {
        background: linear-gradient(145deg, #22272b, #1d2024);
        box-shadow: inset 2px 2px 3px #111214, inset -4px -5px 6px #2b2c32, 4px 2px 6px #101114, -5px -4px 11px #333a40;
    }
    .plateauContent p span {
        display: none;
    }
    /* SECTION ROLLS */
    .tab-content.active#rolls {
        flex-direction: column;
    }
    .tiret {
        display: none;
    }
    .rollstype {
        width: 90%;
        margin: 0 auto;
    }
    .rollstype li {
        margin: 0 2%;
        min-height: 15vh;
        background-size: 60%;
        border-radius: 15px;
        box-shadow: 4px 5px 8px #131518, -5px -4px 9px #333a40;
    }
    .rollstype li.index {
        box-shadow: inset 2px 2px 3px #111214, inset -4px -5px 6px #2b2c32, 4px 2px 6px #101114, -5px -4px 11px #333a40;
        ;
    }
    .rollstype li:after {
        border-radius: 15px;
    }
    .rollstype li>span {
        top: 25%;
    }
    .tab-content.active#rolls {
        display: block;
    }
    .rolls-content ul li {
        margin: 5% 0;
    }
    .rolls-content ul li {
        font-size: 1.8rem;
        font-family: var(--modern-font);
    }
    .rolls-content ul li span {
        font-size: 1.2rem;
        font-family: 'Poiret One';
        right: 10%;
        width: 60px;
        height: 60px;
        line-height: 60px;
        background: none;
        box-shadow: none;
    }
    .rolls-content.index.in span {
        background: linear-gradient(145deg, #1e2125, #191c20);
        box-shadow: 6px 6px 12px #0e0f11, -6px -6px 12px #2a2f35;
    }
    .rolls-content ul li:after {
        min-width: 70%;
        border-bottom: 1px solid rgba(240, 63, 115, 0.5);
        box-shadow: 1px 3px 4px 1px #111214, inset -8px -9px 5px 2px #2b2c32, -1px 7px 6px #101114, -4px -3px 6px 1px #333a40;
    }
}