* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Noto Sans', 'Nanum Brush Script', sans-serif;
    color: #ffffff;
}

h1 {
    font-size: 5rem;
    font-family: 'Nanum Brush Script';
}

.upercase {
    text-transform: uppercase
}

.flex {
    display: flex;
}

.window {
    height: 100vh;
    width: 100vw;
}

.overlayBlack {
    background: linear-gradient(45deg, rgba(15, 32, 39, 0.8), rgba(32, 58, 67, 0.6), rgba(15, 32, 39, 0.9));
}


/*------  LOADING PAGE -------*/

.bloc {
    width: 100vw;
    height: 50vh;
    position: relative;
}

#top {
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#top img {
    width: 50%;
    border-radius: 50%;
}

#top img,
#shark img {
    animation-name: ronde;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ronde {
    0% {
        transform: rotate(360deg);
    }
    25% {
        transform: rotate(270deg);
    }
    50% {
        transform: rotate(180%deg);
    }
    75% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#bottom {
    background-color: #F03F73;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
}

#quatre {
    font-family: 'Caveat Brush', cursive;
    font-size: 15rem;
    line-height: 15rem;
}


/* ------ ACCEUIL ----- */

#acceuil {
    flex-direction: column;
    justify-content: space-around;
}

header {
    background-image: url(image/food/divers4.jpg);
    background-size: cover;
    background-position: center;
}


/*   LOGO */

#title {
    flex-wrap: wrap;
    justify-content: center;
}

#shark {
    flex: 1 50%;
    justify-content: flex-end;
    align-items: center;
}

#shark img {
    width: 70%;
    height: auto;
}

#title h1 {
    font-size: 10rem;
    flex: 1 50%;
}

#title p {
    font-size: 2.5rem;
}


/*   OPTION */

#option p {
    border: 1px solid #ffffff;
    padding: 0.5rem 1rem;
    background-color: rgba(240, 63, 115, 0.2);
    border-radius: 5px;
    margin: 1rem;
    flex: 1;
    text-align: center;
    opacity: 0.8;
}


/* FLECHE DOWN */

#down {
    justify-content: center;
}

#down a {
    width: 12%;
}

#down img {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    opacity: 0.5;
    width: 100%;
}


/* -------------------------- MEDIA QUERIES -------------------------- */

@media (orientation: landscape) {
    /* ------ LOADINGPAGE ------ */
    .conteneur {
        display: flex;
    }
    .bloc {
        width: 50vw;
        height: 100vh;
    }
    #bottom {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: start;
        padding-left: 1rem;
    }
    #top {
        justify-content: space-evenly;
        align-items: flex-end;
    }
    .loadingPage h1 {
        font-size: 5rem;
        padding: 1rem;
    }
    #quatre {
        font-size: 13rem;
    }
}