/* ----------- GENERAL -------------  */

:root {
    --main-theme-color: rgb(240, 63, 115);
    --main-bg-color: linear-gradient(150deg, hsl(0, 0%, 0%), #434343, #000000);
    --overlay-black: rgba(0, 0, 0, 0.7);
    --overlay-blue: linear-gradient(45deg, rgba(15, 32, 39, 0.8), rgba(32, 58, 67, 0.6), rgba(15, 32, 39, 0.9));
    --overlay-gradient-black: linear-gradient(70deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
    --write-size: 15px;
    --normal-font: 'Noto Sans';
    --special-font: 'Nanum Brush Script';
}

* {
    margin: 0;
    padding: 0;
    font-size: var(--write-size);
    font-family: var(--normal-font), var(--special-font), sans-serif;
    color: #ffffff;
    box-sizing: border-box;
}

html {
    background: var(--main-bg-color);
}

section {
    padding-bottom: 50px;
    /*Pour la barre Nav */
}

h1 {
    font-size: 5rem;
    font-family: var(--special-font);
}

a {
    text-decoration: none;
}

.themeColor {
    color: var(--main-theme-color);
}

.upercase {
    text-transform: uppercase
}

.flex {
    display: flex;
}

.window {
    height: 100vh;
    width: 100vw;
}

.overlayBlue {
    background: var(--overlay-blue);
}

.overlayBlackGradient {
    background: var(--overlay-gradient-black);
}

.overlayBlack {
    background: var(--overlay-black);
}


/* NAV */

nav ul {
    background: rgba(255, 255, 255, 0.7);
    justify-content: space-around;
    list-style: none;
    padding: 0.5rem 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    box-shadow: inset 1px 1px 13px 0 black, 0 16px 8px 0 black;
}

nav a {
    display: block;
    text-align: center;
}

nav img {
    width: 50%;
    height: auto;
}


/* -------------------------- MEDIA QUERIES -------------------------- */

@media (orientation: landscape) {
    /* ---------- ACCEUIL --------- */
    #index header {
        background-image: url(image/food/divers4pay.jpg );
        background-position: left 30%;
        background-size: cover;
    }
    #shark img {
        width: 40%;
    }
    #down a {
        width: 6%;
    }
}