/*GENERALE*/

#home {
    background-color: #fff;
}

.conteneur {
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    background-position: top center;
}

.overlay,
.clearOverlay {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#adresse .conteneur>div,
#salle .conteneur>div,
#cuisine .conteneur>div {
    flex-direction: column;
    justify-content: center;
}


/* TITRE H3 MIRROR */

#home h3 p {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    transition: transform .5s .3s;
    font-family: var(--modern-font);
}

#home h3 div {
    overflow: hidden;
}

#home h3 .mirror p {
    color: rgba(240, 63, 115, 0.9);
    transform: translateY(200%);
}

.lineBottom {
    transform: scaleX(0);
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: transform .7s;
}

.actif .lineBottom {
    transform: scaleX(1);
}

#home h3.actif p {
    transform: translateY(0);
}

.mirrorText p {
    transform: translateY(200%);
    color: transparent;
    line-height: 1em;
    background: linear-gradient(0deg, #fff 0, transparent 130%);
    -webkit-background-clip: text;
    opacity: 0.4;
}

#home h3 .mirrorText {
    transform: rotateX(180deg);
}

.over,
.under {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 10%;
}

#cuisine p,
#salle p,
#adresse p,
#engagement p {
    line-height: 2rem;
    font-size: 0.8rem;
}

.topPage {
    position: fixed;
    z-index: 10000;
    bottom: 10%;
    transform: translateY(500%);
    transition: transform .5s;
    right: 5%;
    width: 40px;
    height: 40px;
    background-color: rgba(240, 63, 115, .5);
    border-radius: 5%;
    border: 1px solid #fff;
}

.topPage img {
    width: 100%;
}


/* ---------------------------------------------------- EN TETE TITRE O4 SUSHIBAR ---------------------------------------------------- */

#home header {
    position: absolute;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    z-index: 1;
    text-shadow: 0 0 2px #00FFFC, 0 0 30px #00FFFC, 0px 0px 5px #00FFFC, 0 0 150px #00FFFC;
    color: #00FFFC;
}

#home header img {
    width: 50%;
    margin: 2%;
}

#home h2 {
    font-size: 3rem;
    padding: 2%;
    text-align: center;
}

#home h2 span {
    font-size: 3rem;
}

#home h2 span.light {
    color: #1C2827;
    text-shadow: 0 0 0 transparent;
}


/* ---------------------------------------------------- ARTICLE ADRESSE ----------------------------------------------------*/

#adresse .conteneur {
    background-image: url(image/vitrine1.JPG);
}

#adresse .over {
    top: 30%;
}

#adresse .under {
    top: 70%;
}

#adresse .over img {
    width: 20%;
}


/* ---------------------------------------------------- SALLE ----------------------------------------------------  */

#salle .conteneur {
    background-image: url(image/sallePortrait.jpg);
}

#salle .over {
    top: 25%;
}

#salle .under {
    top: 75%;
}


/* ---------------------------------------------------- ARTICLE Cuisine ------------------------------------------------------ */

#cuisine .conteneur {
    background-image: url(image/chef.jpg);
}

#cuisine .over {
    top: 15%;
}

#cuisine .under {
    top: 65%;
}

.salleEtCuisine {
    flex-direction: column;
}


/* ---------------------------------------------------- ENGAGEMENT ---------------------------------------------------- */

#engagement h3,
#satisfaction h3 {
    font-family: var(--modern-font);
    font-size: 2rem;
    text-transform: uppercase;
    /*text-shadow: 4px 3px 3px grey;*/
    position: relative;
    padding: 5% 0;
}

#satisfaction *,
#engagement h3,
#satisfaction h3 {
    color: #444;
    text-align: center;
}

#engagement .conteneur,
#satisfaction .conteneur {
    height: 90%;
    flex-direction: column;
    justify-content: space-around;
}

#engagement p {
    font-size: 0.8rem;
    transform: translateX(-90%);
    opacity: 0;
    transition: transform 0.7s, opacity .9s;
}

#engagement .actif p {
    transform: translateX(0);
    opacity: 1;
}


/*Pourcentage*/

.number,
.unit {
    font-size: 2rem;
}

#engagement .percent h4 {
    color: #f03f73;
    text-transform: uppercase;
}

.imagePercent img {
    width: 0;
}


/* ---------------------------------------------------- SLIDES ---------------------------------------------------- */

.slides {
    width: 100vw;
    flex-wrap: nowrap;
    overflow: hidden;
}

.slides img {
    width: 10%;
    margin: 3%;
    opacity: 0.3;
}

.slideLeft {
    transform: translateX(-150%);
}


/* AVIS */

#satisfaction h3 {
    margin: 10% 0;
}

.avisContent {
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 5%;
    margin: 5%;
}

.avis {
    width: 70%;
    background: white;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 1% 2% 1% 15%;
    background: -webkit-gradient(linear, 0 1, 0 100%, from(#d9eaf3), color-stop(5%, #fff)) 0 4px;
    background-size: 100% 1.5rem;
    position: relative;
}

.avis:before {
    /*ligne marge*/
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    bottom: 0;
    left: 15%;
    border: 1px solid;
    border-color: transparent #efe4e4;
}

.avis p,
.avis a {
    font-family: 'Indie Flower', cursive;
    font-size: 0.8rem;
}

.autheur {
    width: 90%;
    height: 20%;
    transform: rotate(0deg) translate(50%);
    align-self: center;
    transition: all 1s;
}

.autheur.actif {
    transform: rotate(7deg);
    width: 70%;
    height: auto;
}

.autheur img {
    width: 20%;
}

.autheur .note {
    width: 40%;
}

.commentaire {
    transform: rotate(0deg) translate(-50%) scale(1.3);
    margin-top: 3%;
}

.commentaire.actif {
    transform: rotate(-4deg) scale(1) translate(0);
    transition: all 1s;
}

.avisBox {
    flex-direction: column;
}


/* ---------------------------------------------------- ARTICLE 3 BOX ---------------------------------------------------- */

#box {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    height: 20vh;
}


/* ---------------------------------------------------- ANIMATION BOX ----------------------------------------------------*/

#box img {
    width: 10%;
    opacity: .3;
    position: absolute;
}

#riz {
    animation: riz 20s linear infinite;
}

#sushi {
    animation: sushi 20s linear infinite;
}

#sushiBaguettes {
    animation: sushiBaguettes 20s linear infinite;
}

#nigiriClair {
    animation: nigiriClair 20s linear infinite;
}

#onigri {
    animation: onigri 20s linear infinite;
}

#nigiBlack {
    animation: nigiBlack 20s linear infinite;
}

#baguettes {
    animation: baguettes 20s linear infinite;
}


/*BOL DE RIZ IMG1*/

@keyframes riz {
    0% {
        bottom: 5%;
        right: 5%;
        transform: rotate(60deg);
    }
    40% {
        bottom: 75%;
        right: 90%;
        transform: rotate(390deg);
    }
    50% {
        bottom: 80%;
        right: 75%;
    }
    97% {
        bottom: 0%;
        right: 5%;
        transform: rotate(40deg);
    }
    100% {
        bottom: 5%;
        right: 5%;
        transform: rotate(60deg);
    }
}


/*sushi IMG2*/

@keyframes sushi {
    0% {
        left: 5%;
        top: 15%;
        transform: rotate(10deg);
    }
    30% {
        left: 50%;
        top: 0%;
        transform: rotate(-110deg);
    }
    50% {
        left: 90%;
        top: 35%;
        transform: rotate(-280deg);
    }
    97% {
        left: 0%;
        top: 20%;
        transform: rotate(30deg);
    }
    100% {
        left: 5%;
        top: 15%;
        transform: rotate(10deg);
    }
}


/*sushiBaguettes IMG3*/

@keyframes sushiBaguettes {
    0% {
        top: 0%;
        right: 40%;
    }
    25% {
        top: 40%;
        right: 0%;
        transform: rotate(-110deg);
    }
    50% {
        top: 80%;
        right: 50%;
        transform: rotate(-280deg);
    }
    75% {
        top: 40%;
        right: 90%;
        transform: rotate(30deg);
    }
    100% {
        top: 0%;
        right: 40%;
    }
}


/*nigiriClair IMG4*/

@keyframes nigiriClair {
    0% {
        bottom: -2%;
        left: 5%;
        transform: rotate(20deg);
    }
    35% {
        bottom: 20%;
        left: 90%;
        transform: rotate(-110deg);
    }
    55% {
        bottom: 80%;
        left: 60%;
        transform: rotate(-280deg);
    }
    85% {
        bottom: 30%;
        left: 0%;
        transform: rotate(160deg);
    }
    100% {
        bottom: -2%;
        left: 5%;
        transform: rotate(20deg);
    }
}


/*BOL DE ONIGRI IMG5*/

@keyframes onigri {
    0% {
        right: 0%;
        top: 30%;
    }
    35% {
        right: 90%;
        top: 55%;
        transform: rotate(80deg);
    }
    55% {
        right: 60%;
        top: 80%;
        transform: rotate(-280deg);
    }
    85% {
        right: 30%;
        top: 0%;
        transform: rotate(160deg);
    }
    100% {
        right: 0%;
        top: 30%;
        transform: rotate(80deg);
    }
}


/*BOL DE NIGIBLACK IMG6*/

@keyframes nigiBlack {
    0% {
        bottom: 15%;
        left: 25%;
    }
    45% {
        bottom: 80%;
        left: 30%;
        transform: rotate(160deg);
    }
    70% {
        bottom: 40%;
        left: 0%;
        transform: rotate(-280deg);
    }
    90% {
        bottom: 0%;
        left: 23%;
        transform: rotate(30deg);
    }
    100% {
        bottom: 15%;
        left: 25%;
    }
}


/*BAGUETTES IMG7*/

@keyframes baguettes {
    0% {
        bottom: 0%;
        right: 30%;
    }
    55% {
        bottom: 80%;
        right: 20%;
        transform: rotate(160deg);
    }
    75% {
        bottom: 40%;
        right: 0%;
        transform: rotate(-280deg);
    }
    100% {
        bottom: 0%;
        right: 30%;
    }
}


/* MEDIA QUERIES */

@media (min-width: 800px) {
    /* ----------- HEADER ------------ */
    #home header {
        flex-direction: row;
        padding: 1%;
        justify-content: center;
    }
    #home header img {
        width: 20%;
        margin: 0 2%;
    }
    #home h2,
    #home h2 span {
        font-size: 5rem;
    }
    /*----------- GENERAL ----------- */
    #home h3 p {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    #cuisine p,
    #salle p,
    #adresse p,
    #engagement p {
        font-size: 1rem;
    }
    #adresse .conteneur {
        background-image: url(../restaurant/image/street.jpg);
    }
    #salle .conteneur {
        background-image: url(../restaurant/image/sallePortrait.jpg);
        background-position: left top;
        background-size: 50vw;
    }
    #cuisine .conteneur {
        background-image: url(../restaurant/image/chef4.jpg);
        background-position: right;
        background-size: 50vw;
    }
    /* ----------- PROPOS ------------ */
    #propos {
        overflow: hidden;
    }
    #propos .reveal {
        position: relative;
        color: #444;
        transform-origin: left;
        transform: scaleX(0);
        transition: .5s;
        transition-delay: .5s;
    }
    #propos .reveal.active {
        transform: scaleX(1);
        transition-delay: 0s;
    }
    #propos .reveal:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f03f73;
        transform-origin: right;
        transition: .5s;
        transition-delay: 0s;
    }
    #propos .reveal.active:before {
        transform: scaleX(0);
        transition-delay: .5s;
    }
    .panoramique,
    .portrait {
        margin: 10% 0;
    }
    .panoramique {
        justify-content: flex-end;
    }
    /*IMG*/
    #propos img {
        position: relative;
        opacity: 0;
        transition: .5s;
    }
    #propos img.active {
        opacity: 1;
        left: 0;
    }
    .panoramique img {
        width: 45%;
        left: 100px;
    }
    .portrait img {
        width: 25%;
        left: -100px;
    }
    .text {
        width: 40%;
        margin: 0 5%;
    }
    #propos h4:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: -25%;
        width: 50%;
        height: 1px;
        background: #f03f73;
    }
    #propos .portrait h4:before {
        left: -25%;
    }
    #propos h4 {
        position: relative;
        font-size: 2.5rem;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }
    #propos p {
        line-height: 3rem;
    }
    /* ------------ SALLE ET CUISINE  ------------- */
    .salleEtCuisine {
        flex-direction: row;
    }
    #salle .conteneur,
    #cuisine .conteneur {
        height: 70vh;
        width: 50vw;
        overflow: hidden;
    }
    #salle .overlay,
    #cuisine .overlay,
    #salle .overlay,
    #cuisine.clearOverlay {
        width: 50vw;
        height: 70vh;
        transition: transform .5s;
    }
    #salle:hover .clearOverlay,
    #cuisine:hover .clearOverlay {
        transform: translateY(-100%);
    }
    #salle:hover .overlay,
    #cuisine:hover .overlay {
        transform: translateY(-100%);
    }
    /* ----------- ENGAGEMENT ------------ */
    #engagement .conteneur {
        flex-direction: row;
    }
    #engagement h3,
    #satisfaction h3 {
        font-size: 0rem;
        padding: 0;
        margin: 5% 0;
    }
    #engagement h3 span {
        color: #f03f73;
        font-size: 1em;
    }
    #engagement .percent {
        margin: 5% 0;
        text-align: center;
    }
    #engagement .percent span {
        color: #444;
    }
    #engagement .percent h4 {
        font-size: 1.5rem;
    }
    .percentBlock {
        flex: 1;
        margin: 2%;
    }
    /*IMG & HOVER*/
    .imgBox {
        font-size: 0;
        position: relative;
        overflow: hidden;
        z-index: 2;
        /*Pour l espace blanc sous l img*/
    }
    .imagePercent img {
        width: 100%;
    }
    #engagement .imgBox h5 {
        position: absolute;
        width: 100%;
        max-height: 500px;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 1.5rem;
        padding: 5% 0;
        text-align: center;
        transform: translateY(-100%);
        transition: transform .2s;
        font-family: var(--modern-font);
        border-top: 2px solid #f03f73;
        border-bottom: 2px solid #f03f73;
    }
    #engagement .imagePercent:hover .imgBox h5 {
        transform: translateY(0);
    }
    #engagement .imagePercent p {
        background-color: rgba(0, 0, 0, 0.7);
        font-size: .8rem;
        line-height: 1.5rem;
        padding: 5%;
        transform: translateY(-100%);
        transition: transform .2s;
    }
    #engagement .imagePercent:hover p {
        transform: translateY(0%);
    }
    /* ----------- SLIDE ------------ */
    .slides img {
        width: 5%;
    }
    /* ----------- AVIS -------------- */
    #satisfaction {
        font-size: 1.5rem;
    }
    .avisContent {
        width: 50%;
        margin: 0;
    }
    .avis p,
    .avis a {
        font-size: 1.5rem;
    }
    .avisBox {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    /* SHARK ANIM */
    #sharkRound {
        justify-content: center;
        position: relative;
        overflow: visible;
    }
    .contentShark {
        background-color: #444;
        overflow: visible;
        width: 70%;
    }
    .contentShark img {
        width: 90%;
        transform: rotate(80deg);
    }
    #sharkRound .textCercle {
        z-index: 5;
        overflow: hidden;
        background-color: #fff;
    }
    .textCercle img {
        transform-origin: top;
        background-color: #fff;
    }
    #sharkRound .shark,
    #sharkRound .textCercle {
        height: 50%;
    }
    #home .line {
        position: relative;
        z-index: 600;
        box-shadow: 3px 3px 11px 4px #444;
    }
    /*SUSHI PARALLAX */
    .imgPara {
        width: 30%;
        position: absolute;
        z-index: 3000;
    }
    #s2 {
        top: 85%;
        left: 15%;
    }
    #c1 {
        top: 35%;
        right: 5%;
    }
    #c2 {
        top: 65%;
        right: 10%;
    }
    #t1 {
        width: 30%;
        top: 40%;
    }
    #g1 {
        width: 35%;
        top: 90%;
        left: 45%;
    }
    /* ANIMATION BOX*/
    #box {
        height: 40vh;
    }
    #box img {
        width: 5%;
    }
    /* FOOTER */
    footer .footConteneur img {
        width: 10%;
    }
    footer .wordslider {
        margin: 2% 0;
    }
    .mots {
        font-size: 1.8rem;
    }
    .itemSlide {
        font-size: 3rem;
    }
    footer #mentions {
        font-size: .8rem;
    }
}


/* OVER 1200px */

@media (min-width: 1300px) {
    #salle .conteneur {
        background-image: url(../restaurant/image/salle2.jpg);
    }
    #cuisine .conteneur {
        background-image: url(../restaurant/image/chef.jpg);
    }
    #satisfaction .conteneur {
        width: 80%;
    }
    .contentShark {
        width: 50%;
    }
    .imgPara {
        width: 20%;
    }
    #s2 {
        top: 85%;
        left: 15%;
    }
    #c1 {
        top: 35%;
        right: 5%;
    }
    #c2 {
        top: 65%;
        right: 10%;
    }
    #t1 {
        width: 20%;
        top: 40%;
    }
    #g1 {
        width: 25%;
        top: 90%;
        left: 45%;
    }
}