// NUM tele IphoneLike
html : <div class="lienTel marginCenter flex"><div class="call"><img src="images/call.png" alt="bouton appeler"></div><p><a href="tel:+33388202718">O3.88.20.27.18</a></p></div>css: .lienTel {
    width: 70vw;
    height: 50px;
    border-radius: 50px;
    justify-content: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
}

.call img {
    height: 90%;
    position: absolute;
    left: 2%;
    top: 5%;
}

#infos .lienTel a {
    font-size: 1.2rem;
    line-height: 50px;
    color: #071307;
    padding: 2%;
}