    /* HEADER */
    
    #infos {
        background-color: #2d3436;
        background-image: linear-gradient(445deg, #2d3436 20%, #000000 74%);
        min-height: 100vh;
    }
    
    #infos .titre {
        position: relative;
        width: 100vw;
        height: 30vh;
        background-image: url(images/promo.jpg);
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        border-bottom: 1px solid #f03f73;
    }
    
    #infos .titre h2 {
        position: absolute;
        z-index: 3;
        width: 100%;
        top: 35%;
        font-size: 2.8rem;
        text-align: center;
        font-family: var(--modern-font);
        text-transform: uppercase;
    }
    
    #infos .titre h2 img {
        width: 15%;
    }
    
    #infos .titre:before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(70deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
    }
    /* LOCALISATION */
    
    .option p {
        text-align: center;
        opacity: 0.8;
        line-height: 2rem;
        margin: 3% 0;
    }
    
    #infos h3 {
        transform: scaleX(0);
        overflow: hidden;
        transition: transform .6s;
    }
    
    #infos.load h3 {
        transform: scaleX(1);
    }
    
    #infos h3 span {
        display: block;
        font-family: var(--modern-font);
        font-size: 2rem;
        transform: translateY(110%);
        transition: transform .3s .6s;
    }
    
    #infos.load h3 span {
        transform: translateY(0%);
    }
    
    #infos h3,
    #infos h4 {
        border-bottom: 1px solid #f03f73;
        font-family: var(--modern-font);
        font-size: 2rem;
    }
    
    #infos h4 {
        margin: 5% 0;
    }
    
    #coordonees {
        flex-direction: column;
        padding: 15% 0;
    }
    
    .coordContent {
        margin: 5% 5%;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }
    
    #coordonees button {
        width: 10%;
        margin: 2% 5%;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        outline: none;
        transform: translateX(-800%);
    }
    
    #coordonees :nth-child(2) button {
        transition: transform 0.5s;
    }
    
    #coordonees :nth-child(3) button {
        transition: transform .5s .2s;
    }
    
    #coordonees :nth-child(4) button {
        transition: transform .5s .4s;
    }
    
    #coordonees :nth-child(5) button {
        transition: transform .5s .6s;
    }
    
    #coordonees :nth-child(6) button {
        transition: transform .5s .8s;
    }
    
    #infos.load #coordonees button {
        transform: translateX(0);
    }
    
    #coordonees .open button {
        box-shadow: 0px 0px 9px 1px #fff;
    }
    
    #coordonees img {
        width: 100%;
        height: 100%;
        padding: 10%;
    }
    
    .coordContent p {
        transform: translateX(-100px);
        opacity: 0;
        transition: transform .5s 1s, opacity 1.5s 1s;
    }
    
    #infos.load .coordContent p {
        transform: translateX(0);
        opacity: 1;
    }
    /*horaire*/
    
    #horaire {
        background-image: url(images/adresse.jpg);
        background-size: cover;
        background-position: center;
        height: 0;
        width: 100%;
        opacity: .3;
        position: relative;
        overflow: hidden;
        transition: height .5s, opacity .3s;
    }
    
    #horaire ul {
        height: 100%;
        opacity: 0;
        flex-direction: column;
        justify-content: center;
        padding: 5%;
        transition: opacity .5s;
    }
    
    .open #horaire ul {
        opacity: 1;
    }
    
    #horaire li {
        padding: 3% 0;
    }
    
    #horaire strong {
        color: #f03f73;
    }
    
    .open #horaire {
        height: 40vh;
        opacity: 1;
    }
    /* Map */
    
    #map {
        position: relative;
        width: 95vw;
        min-height: 0vh;
        overflow: hidden;
        opacity: .2;
        transition: min-height .5s, opacity .3s;
    }
    
    #map iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    .open #map {
        min-height: 50vh;
        margin-bottom: 10%;
        opacity: 1;
    }
    /* FRIENDS*/
    
    #friends {
        width: 95vw;
        height: 0;
        position: relative;
        overflow: hidden;
        transition: height .5s
    }
    
    .open #friends {
        height: 25vh;
    }
    
    #friends li {
        margin: 5% 2%;
        overflow: hidden;
    }
    
    #friends li span {
        display: inline-block;
        transform: rotate(135deg);
        margin: 0 2%;
        transition: transform .5s .2s;
    }
    
    .open #friends li span {
        color: #fff;
        transform: rotate(0);
    }
    
    #friends li a {
        display: inline-block;
        transform: translateX(1000%);
        border-bottom: 1px dashed #fff;
        color: #f03f73;
        transition: transform .5s .2s;
    }
    
    .open #friends li a {
        transform: translateX(0);
    }
    
    #friends ul :nth-child(3) span,
    #friends ul :nth-child(3) a {
        transition: transform .5s .4s;
    }
    
    #friends ul :nth-child(4) span,
    #friends ul :nth-child(4) a {
        transition: transform .5s .6s;
    }
    /* --------------------------------------------- MEDIA QUERIES ----------------------------------------------------*/
    
    @media (min-width: 800px) {
        #infos {
            background-image: var(--gradientClar);
        }
        /*HEADER*/
        #infos .titre {
            background-image: none;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: -6px 9px 10px #101114, inset -5px -6px 8px #333a40;
        }
        #infos .titre:before {
            width: 0;
            height: 0;
        }
        #infos .titre h2 {
            position: relative;
            top: 0;
            font-size: 5rem;
            font-family: var(--modern-font);
            text-shadow: 4px 5px 0px #101114, -3px -4px 0px #333a40;
        }
        #infos .titre h2 img {
            width: 10%;
            margin-bottom: -3%;
        }
        /*ARTICLE */
        .option p {
            font-size: 1.5rem;
        }
        #coordonees {
            position: relative;
            padding: 0;
            width: 70%;
            margin: 0 auto;
            border-bottom: 1px solid #f03f73;
        }
        #coordonees:after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: #f03f73;
            box-shadow: 0px 3px 6px 2px #101114, -2px -2px 5px 2px #333a40;
        }
        #coordonees .name {
            position: relative;
            height: 100px;
        }
        #coordonees .name:after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: #f03f73;
            transform: scale(0);
            transform-origin: center;
            transition: transform 1s;
            box-shadow: 0px 3px 6px 2px #101114, -2px -2px 5px 2px #333a40;
        }
        #infos.load #coordonees .name:after {
            transform: scale(1);
        }
        #infos h3 {
            position: absolute;
            margin: 0;
            bottom: 0;
            border: none;
        }
        #infos h3 span {
            font-size: 3.5rem;
            margin-bottom: 3%;
        }
        .coordContent {
            margin: 2%;
        }
        #coordonees button {
            width: 5%;
            background: linear-gradient(145deg, #22272b, #1d2024);
        }
        .coordContent p {
            padding: 1%;
            border-radius: 5px;
            background: linear-gradient(145deg, #22272b, #1d2024);
            box-shadow: inset 2px 2px 3px #111214, inset -4px -5px 6px #2b2c32, 3px 2px 2px #101114, -2px -2px 4px #333a40;
        }
        /*horraire*/
        .open #horaire {
            height: 50vh;
        }
        #horaire ul {
            justify-content: space-around;
        }
        #horaire li:nth-child(2n) {
            padding-left: 5%;
        }
        #infos h4 {
            font-size: 4rem;
            margin: 0;
        }
        #horaire li {
            font-size: 2rem;
            padding: 0;
            font-family: 'Poiret One';
        }
        /*partenaire*/
        .open #friends {
            height: 45vh;
        }
    }